.header{
   /* width: 100%;
    height: 12vh;
    background-color:rgb(86, 59, 243);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 8vh;
    overflow: hidden;
    background-color: rgb(91, 92, 94);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 3vh;
    font-family: 'Fjalla One', sans-serif;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(126, 127, 128);
    height: 100vh;
  }

  .footer{
    width: 100%;
    height: 8vh;
    background-color:rgb(108, 88, 223);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section{
    height: 80vh;
    background-color: rgb(177, 174, 174);
    align-items: stretch;
  }
  .half-section-left{
    width: 60%;
    height: 100%;
    display: flex;
    float: left;
    background-image: url(../images/mapa-hospital.png);
    opacity: 0.8;
    align-items: center;
    text-align: center;
    
  }
  .half-section-right{
    width: 40%;
    height: 100%;
    background-color: rgb(174,174,174);
    float: right;

  }
  .subsection-right{
    align-items: center !important;
  }
  .sentence{
    font-family: 'Fjalla One', sans-serif;
    font-size: 10vh;
    /*color: rgb(16, 1, 70);*/
    color: rgb(255,255,255);
  }
  .textField{
    margin: normal;
  }
  .button-login{
    width: 18vh;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    background-color: rgb(16, 1, 70) !important;
    border-radius: 8px !important;
    height: 6vh;
    color: white !important;
  }

  .back-gradient{
    height: 100vh;
    background-color: rgb(6, 86, 235); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right,rgb(6, 86, 235,0.8),rgba(214, 140, 192, 0.8)); /* Standard syntax*/
    display: flex;
    align-items: center;
    text-align: center;
  }
  .back-white{
    height: 60vh;
    background-color: rgb(255,255,255);
  }
  .half-left{
    margin: 10vh;
  }
  .img-style{
    height: 35vh;
    width: 50vh;
  }
  .active {
    background-color: #4CAF50;
  }
  /*ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 8vh;
    overflow: hidden;
    background-color: rgb(91, 92, 94);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }*/
  
  
  .w3-hover-shadow:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
  }
  .cards{
    width:50vh;
    height: 70vh;
    float: left;
    margin: 5vh;
    background-color:rgb(197, 193, 193);
  }
  .center{
    justify-content: center;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .button-register-user-ble{
    width: 30vh;
    height: 6vh;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    background-color: rgb(16, 1, 70) !important;
    border-radius: 8px !important;
    color: white !important;
    margin: 10px !important;
  }
  .textBox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
  }

